<!DOCTYPE html>
<html lang="en">
<head>
    <!-- link the resourse  -->

    <%- include('../views/partials/resourse'); %>
</head>
<body>

    <header>
        <!-- header part -->

        <%- include('../views/partials/Achieve_header'); %>
    </header>
    <!-- body part -->
 
    <%- include('../views/partials/achievement_body'); %>

   
    <!-- footer part -->

    <footer>
        
        <%- include('../views/partials/footer'); %>
    </footer>

</body>
</html>